.main{
  position: absolute;
  width: 100%;
  top: 25%;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#score_block{
  font-family: 'Josefin Sans', sans-serif;
}
.action{
  margin: 1px;
  background-color: #8ec06c;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 50px;
  text-align: center;
  border-radius: 8px;
  border: none;
}
#operation{
  margin-top: 12px;
  font-family: 'Josefin Sans', sans-serif;
}
#result{
  font-family: 'Josefin Sans', sans-serif;
}